*{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
    box-sizing: border-box;

}



.main{
    width: 100%;
}
.main .main_section1{
    width: 100%;
    height: auto;
}
.main .main_section1 img{
    width: 100%;
    margin-top: 1em;
}

.main .main_section2{
    width: 100%;
    height: auto;
    padding: 7em 0;
    display: flex;
    justify-content: space-evenly;

}
.main .main_section2 .main_section2_contact{
    height: auto;
    width: 30%;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 30px #EDEDED;

}
.main .main_section2 .main_section2_contact h1 {
    text-align: center;
    padding-top: 1em;
    font-size: 1.7vw;
}
.main .main_section2 .main_section2_contact .main_section2_contact_farme{
    width: 85%;
    margin: auto;
    padding-top: 1em;
    line-height: 2;
    font-size: 1.2vw;

}
.main .main_section2 .main_section2_contact .main_section2_contact_farme .main_section2_contact_farme_1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.main .main_section2 .main_section2_contact .main_section2_contact_farme .main_section2_contact_farme_1 .farme_1_1{
    width: 47%;
}
.main .main_section2 .main_section2_contact .main_section2_contact_farme .main_section2_contact_farme_1 .farme_1_1 input{
    padding: .4em ;
    width: 100%;
}

.main .main_section2 .main_section2_contact .main_section2_contact_farme .main_section2_contact_farme_2 input {
    width: 98%;
    padding: .4em ;
    margin-bottom: 2em;

}
.main .main_section2 .main_section2_contact .main_section2_contact_farme .main_section2_contact_farme_2>label {
    display: block;
}

.main .main_section2 .main_section2_contact .main_section2_contact_farme .main_section2_contact_farme_3>label {
    display: block;
}.main .main_section2 .main_section2_contact .main_section2_contact_farme .main_section2_contact_farme_3 input {
    width: 98%;
    padding: .4em 0 6em 2%;

}

.main .main_section2 .main_section2_contact button {
    width: 100%;
    padding: .6em 0;
    margin: 3em  0 ;
    border-radius: 20px;
}
.main .main_section2 .main_section2_contact input {
    border-radius: 12px;
}

.main .main_section2 .main_section2_map {
    width: 50%;
    height: auto;


    /* background-color: red;                                                                    */
}

.main .main_section2 .main_section2_map>iframe {
    border-radius: 30px;
    width: 100%;
    border: none;
    height: 100%;
    box-shadow: 0px 0px 40px #EDEDED;

}

.main .main_section3 {
    width: 87%;
    margin: 0 auto;
    display: flex;
    padding: 6em 0 13em;
}
.main .main_section3 .main_section3_1 {
    width: 50%;
    border-right: 2px solid black ;
    
    /* background-color: red; */
}
.main .main_section3 .main_section3_1 h2 {
    margin-bottom: 1em;
    font-size: 2vw;

}
.main .main_section3 .main_section3_1 p {
    line-height: 1.5;
    font-size: 1.3vw;
}
.main .main_section3 .main_section3_2 {
    width: 50%;
    margin-left: 5%;

    /* background-color: red; */
}
.main .main_section3 .main_section3_2 h2 {
    margin-bottom: 1em;
    font-size: 2vw;

}
.main .main_section3 .main_section3_2 p {
    line-height: 1.5;
    font-size: 1.3vw;

}
.main .main_section3 .main_section3_2 p>i {
    color: red;
}
/* JS */
.thongtin_1 {
    position: relative;
    transform: translateX(6em);
    opacity: 0;
    transition: all 1.5s;

}

.thongtin_1.thong_tin_1 {
    position: relative;
    transform: translateX(0px);
    opacity: 1;
}

.thongtin_2 {
    position: relative;
    transform: translateX(6rem);
    opacity: 0;
    transition: all 1.7s;

}

.thongtin_2.thong_tin_2 {
    position: relative;
    transform: translateX(0px);
    opacity: 1;
}

@media screen and (max-width: 400px ){
    .main .main_section2{
        width: 100%;
        padding: 3em 0;
        flex-direction: column;
    }
    .main .main_section2 .main_section2_map {
        width: 95%;
        margin: 0 auto;
        order: -1;
        height: 20em;
        padding-bottom: 3em;
    }
    .main .main_section2 .main_section2_map>iframe {
        border-radius: 0;
        width: 100%;
        border: none;
        height: 100%;
    }
    .main .main_section2 .main_section2_contact{
        height: auto;
        width: 70%;
        border-radius: 20px;
        margin: 0 auto;
    
    }
    .main .main_section2 .main_section2_contact h1 {
        padding: 1em 0 .5em;
        font-size: 4vw;
    }
    .main .main_section2 .main_section2_contact .main_section2_contact_farme{
        padding-top: 0;
        line-height: 2;
        font-size: 3vw;
    
    }
    .main .main_section3 {
        width: 87%;
        padding: 2em 0 3em;
        flex-direction: column;
    }
    .main .main_section3 .main_section3_1 {
        width: 80%;
        border-right: none;
        padding-bottom: 1em;
        border-bottom: 2px solid black ;
        
    }
    .main .main_section3 .main_section3_1 h2 {
        font-size: 5vw;
        margin-bottom: .3em;
    
    }
    .main .main_section3 .main_section3_1 p {
        font-size: 3vw;
    }
    .main .main_section3 .main_section3_2 {
        width: 100%;
        margin-left: 0;
        margin-top: 1em;
    
    }
    .main .main_section3 .main_section3_2 h2 {
        font-size: 5vw;
        margin-bottom: .3em;
    }
    .main .main_section3 .main_section3_2 p {
        font-size: 3vw;
    }
}













