* {
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    box-sizing: border-box;
}

.main {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.main .main_h1 {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 1.4vw;
}

.main .line {
    width: 100%;
    height: 0.1px;
    margin: 0 auto;
    background-color: gray;
    margin-top: 4rem;
}

.main .main_container_1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.main .main_container_1 .main_container_1_section_text {
    width: 48%;
    text-align: justify;
    margin-top: 1em;
}
.main .main_container_1 .main_container_1_section_text h2 {
    margin-bottom: 1em;
    font-size: 1.4vw;

}
.main .main_container_1 .main_container_1_section_text p {
    line-height: 1.2;
    margin-bottom: 30px;
    font-size: 1vw;

}
.main .main_container_1 .main_container_1_section_text button {
    padding: 10px 20px;
    font-size: 1.1vw;
    transition: .3s ease;
    background-color: white;
    border: 3px solid #489361;
    color:#489361;
    font-weight: bold;
}
.main .main_container_1 .main_container_1_section_text button a {
    text-decoration: none;
    color:#489361;

}
.main .main_container_1 .main_container_1_section_text button:hover {
    background-color: #489361;
    color: white;

}
.main .main_container_1 .main_container_1_section_text button:hover a {

    color: white;

}
.main .main_container_1 .main_container_1_section_img {
    width: 45%;

    /* background-color: red; */
}
.main .main_container_1 .main_container_1_section_img img {
    width: 85%;
    margin-left: 1.5em;
    box-shadow: 0px 0px 40px #E3E3E3;
}
.main .main_container_2{
    width: 100%;
    height: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.main .main_container_2 .main_container_2_section_new {
    width: 75%;
    height: auto;
    
}
.main_container_2_section_new_1 {
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid black;
}
.main_container_2_section_new_1_img {
    width: 27%;
}
.main_container_2_section_new_1_img img {
    width: 100%;
    box-shadow: 0px 0px 10px #E3E3E3;
}
.main_container_2_section_new_1_text {
    width: 60%;
    text-align: justify;
    margin-left: 5%;

}
.main_container_2_section_new_1_text h3 {
    margin: 1em 0 1em 0  ;
    font-size: 1.4vw;

}
.main_container_2_section_new_1_text p {
    line-height: 1.2;
    font-size: 1vw;
}
.main_container_2_section_new_1_text a {
    text-decoration: none;
    font-weight: bold;
    color: #489361;
    font-size: 1vw;
}
.linett {
    width: 4% ;
    height: .2em;
    background-color: #489361;
    transition: all .7s ;
}

 a:hover .linett{
    width: 15%;
}

.main .main_container_2 .main_container_2_section_standee {
    width: 20%;
    height: auto;
    position: relative;
    /* background-color: blue; */

}
.main .main_container_2 .main_container_2_section_standee img {
    width: 100%;
    box-shadow: 0px 0px 10px #E3E3E3;


}
.main .main_container_2 .main_container_2_section_standee .top-img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .7s ease;

}
.main .main_container_2 .main_container_2_section_standee .top-img:hover {
    opacity: 1;
    /* transition: all .7s; */

}


@media screen and (max-width: 400px ){
    .main .main_h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 3vw;
    }
    .main .main_container_1 {
        margin-top: 40px;
        flex-direction: column;
    }
    .main .main_container_1 .main_container_1_section_text {
        width: 100%;
        text-align: justify;
        margin-top: 1em;
    }
    .main .main_container_1 .main_container_1_section_text button{
        width: 30%;
        height: 2.5rem;
        padding: 0.3em;
        font-size: .8em;
    }
    .main .main_container_1 .main_container_1_section_text h2{
        font-size: 4vw;
    }
    .main .main_container_1 .main_container_1_section_text p{
        font-size: 2.9vw;
    }
    .main .main_container_1 .main_container_1_section_img{
        order: -1;
        width: 100%;
    }
    .main .main_container_1 .main_container_1_section_img img{
        width: 100%;
        margin-left: 0;
    }
    .main .main_container_2{
        margin-top: 2rem;
        margin-bottom: 2em;

    }
    .main_container_2_section_new_1{
        display: block;

    }
    .main .main_container_2 .main_container_2_section_new {
        width: 100%;
        height: auto;

    }
    .main_container_2_section_new_1_img {
        width: 90%;
        margin: 0 auto;
    }
    .main_container_2_section_new_1_text {
        width: 100%;
        margin-left: 0;
    
    }
    .main_container_2_section_new_1_text h3 {
        margin: 1em 0 1em 0  ;
        font-size: 3.8vw;
    
    }
    .main_container_2_section_new_1_text p {
        line-height: 1.2;
        font-size: 3vw;
    }
    .main_container_2_section_new_1_text a {
        text-decoration: none;
        font-weight: bold;
        color: #489361;
        font-size: 4vw;
    }
    .main_container_2_section_standee{
        display: none;
    }
}




